.forgotpassword_container{
    height: 190px;
    width: 350px;
    position: absolute;
    top: 35%;
    left: 40%;
    border: 1px solid black;
    padding: 1.2em;
    background-color: rgb(86, 78, 78);
    border-radius: 10px;

}
.forgotpassword_container h3{
    color: white;
}
.forgotpassword_container button{
    
        background-color: black;
        border: 0.5px solid white;
        color: white;
        width: 6.5em;
        height: 2.5em;
        margin-left: 12px;
        margin-top: 10px;
        border-radius: 10px;
        cursor: pointer;
      
}