.password_container{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner_div{

    border: 1px solid black;
    width: 350px;
    padding: 1.2em;
    background:rgb(79, 73, 73);
    border-radius: 10px;

}
.inner_div h3{
    color: white;
}
.inner_div button{
    font: bold;
    font-size: 1.2em;
    width: 100px;
    height: 30px;
    margin: 13px 0 0 10px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(24, 188, 247);
    cursor: pointer;
}
.inner_div button:hover{
    background:rgb(107, 204, 239) ;
}
@media(max-width:900px){
    .inner_div{
        left: 30%;
    }
}
@media(max-width:700px){
    .inner_div{
        left: 25%;
        width: 250px;
    }
}
@media(max-width:500px){
    .inner_div{
        left: 15%;
    }
}